
sts.py
__pycache__/
*.pyc
logs/
instance/
venv/
*.db
.env
.history
*.env
tempCodeRunnerFile.py
process_incoming_query.py
whisper
old_app.py
uploaded_videos
embeddings_df.joblib
bootstrap.py
modl.ipynb

*.mp3
*.pdf
.ipynb_checkpoints/
old_*.py
*_old.py
temp_session/
uploaded_pdfs/